.card-wrapper {
  width: 100%;
  line-height: 1.4;
  display: flex;
  gap: 15px;
  background-color: white;
  box-shadow: 0 3px 8px rgba(36, 43, 20, 0.04);
  border-radius: 6px;
  padding: 10px;
  font-size: 12px;
  margin-bottom: 10px;
  @media only screen and (min-width: 600px) {
    font-size: 16px;
  }

  .card-title {
    color: #000f48;
    margin-bottom: 15px;
    font-size: inherit;
    font-weight: 700;
    margin-bottom: 8px;
    white-space: nowrap;
  }

  .info {
    display: flex;
    gap: 10px;
    align-items: center;
    width: 120px;
    @media only screen and (min-width: 600px) {
      width: 250px;
    }

    .icon {
      min-width: 40px;
      height: 40px;
      @media only screen and (min-width: 600px) {
        min-width: 60px;
        height: 60px;
      }

      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        -o-object-fit: cover;
        object-fit: cover;
      }
    }

    .name {
      color: #666d8f;
      margin-bottom: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
    .phone {
      a{
        text-decoration: none;
        color: #000f48;
      }
    }
  }
  .address {
    flex: 1;
    .card-title {
      color: #000f48;
      font-size: inherit;
      font-weight: 700;
      white-space: nowrap;
    }
    .desc {
      color: #666d8f;
    }
  }
  .action {
    align-self: center;
    .action-button {
      width: 80px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      user-select: none;
      color: rgba(98, 85, 249, 0.6);
      background-color: rgba(98, 85, 249, 0.1);
      border-radius: 100px;
      @media only screen and (min-width: 600px) {
        width: 140px;
        height: 40px;
      }
    }
  }
}
